<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |flick| %>
      <%= render 'shared/error_messages' %>
      
      <%= flick.label :name %>
      <%= flick.text_field :name %>
      
      <%= flick.label :email %>
      <%= flick.email_field :email, class: 'form-control' %>
      
      <%= flick.label :password %>
      <%= flick.password_field :password, class: 'form-control' %>
      
      <%= flick.label :password_confirmation, "Confirmation" %>
      <%= flick.password_field :password_confirmation, class: 'form-control' %>
      
      <%= flick.submit "Create my account", class: "btn btn-primary" %>
    
    <% end %>
  </div>
</div>