

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>


<b>User:</b> <%= @user.name %><br>
<b>Email:</b> <%= @user.email %><br>
<br>
<b>Created:</b> <%= @user.created_at %><br>
<b>Modified:</b> <%= @user.updated_at %><br>
<br>
<b>Current Time:</b> <%= Time.now %>